{% extends "base.html" %}
{% block content %}
    <div id="new-products">
        <h2 class="black-color new-product-title Freehand">New Products</h2>
        <div class="container">
            <div class="product-content">
                <div class="product">
                    <h4 class="product-title ImprintMTShadow">Chocolate cupcake</h4>
                    <img src="../static/img/product1.jpg" alt="" class="product-img">
                    <div class="product-button-block">
                        <button class="product-buy-btn">119rub.</button>
                    </div>
                </div>
                <div class="product">
                    <h4 class="product-title ImprintMTShadow">Honey cake</h4>
                    <img src="../static/img/product2.jpg" alt="" class="product-img">
                    <div class="product-button-block">
                        <button class="product-buy-btn">579rub.</button>
                    </div>
                </div>
                <div class="product">
                    <h4 class="product-title ImprintMTShadow">Meringue roll</h4>
                    <img src="../static/img/product3.jpg" alt="" class="product-img">
                    <div class="product-button-block">
                        <button class="product-buy-btn">399rub.</button>
                    </div>
                </div>
                <div class="product">
                    <h4 class="product-title ImprintMTShadow">Apple strudel</h4>
                    <img src="../static/img/product4.jpg" alt="" class="product-img">
                    <div class="product-button-block">
                        <button class="product-buy-btn">249rub.</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="assortment">
        <div class="assort-content">
            <button id="assort-top" class="assort-block">
                    <div class="shadow">
                        <h3 class="white-color assort-title Freehand">Our Products</h3>
                    </div>
            </button>
            <button id="assort-left" class="assort-block">
                    <div class="shadow">
                        <h3 class="white-color assort-title Freehand">Our Products</h3>
                    </div>
            </button>
            <button id="assort-right" class="assort-block">
                    <div class="shadow">
                        <h3 class="white-color assort-title Freehand">Our Products</h3>
                    </div>
            </button>
            <button id="assort-bottom" class="assort-block">
                    <div class="shadow">
                        <h3 class="white-color assort-title Freehand">Our Products</h3>
                    </div>
            </button>
            <button id="assort-bottom" class="assort-block">
                    <div class="shadow">
                        <h3 class="white-color assort-title Freehand">Our Products</h3>
                    </div>
            </button>
            <button id="assort-top" class="assort-block">
                    <div class="shadow">
                        <h3 class="white-color assort-title Freehand">Our Products</h3>
                    </div>
            </button>
            <button id="assort-left" class="assort-block">
                    <div class="shadow">
                        <h3 class="white-color assort-title Freehand">Our Products</h3>
                    </div>
            </button>
            <button id="assort-right" class="assort-block">
                    <div class="shadow">
                        <h3 class="white-color assort-title Freehand">Our Products</h3>
                    </div>
            </button>
        </div>
    </div>
{% endblock %}